<nb-card>
  <nb-card-body>

    <button (click)="goBack()" class="btn-sm btn btn-danger">Cancelar</button>

    <nb-tabset fullWidth>
      <nb-tab tabTitle="Formulario monto aceptado">
        
        <div class="container col-lg-8 col-md-10 col-sm-12">
          <form name="form" style="padding-top: 16px">

            <div class="form-group" style="margin-bottom: 16px;">
              <label for="actoAdministrativo">Acto administrativo</label>
              <input type="text" id="actoAdministrativo" class="form-control" placeholder="Ingrese el nombre del acto administrativo" 
              aria-label="actoAdministrativo" aria-describedby="basic-addon-h" [(ngModel)]="MontoAceptado.TipoActoAdministrativo" name="actoAdmin">
            </div>

            <div class="form-group" style="margin-bottom: 16px;">
              <label for="fecha_acto">Fecha de acto administrativo</label>
              <input type="date" id="fecha_acto" class="form-control" placeholder="Ingrese la fecha del acto administrativo" 
              aria-label="fechaAdmin" aria-describedby="basic-addon-h" [(ngModel)]="FechaActoAdministrativo" name="fechaActoAdmin">
            </div>

            <div class="form-group" style="margin-bottom: 16px;">
              <label for="fecha_pensión">Fecha de pension</label>
              <input type="date" id="fecha_pensión" class="form-control" placeholder="Ingrese la fecha de pensión" 
              aria-label="fechaPension" aria-describedby="basic-addon-h" [(ngModel)]="FechaPension" name="fechaPension">
            </div>

            <div class="form-group" style="margin-bottom: 16px;">
              <label for="fechaResPension">Fecha de resolución de pensión</label>
              <input type="date" id="fechaResPension" class="form-control" placeholder="Ingrese la fecha de res. pensión" 
              aria-label="fechaResPension" aria-describedby="basic-addon-h" [(ngModel)]="FechaResolucionPension" name="fechaResPension">
            </div>

            <div class="form-group" style="margin-bottom: 16px;">
              <label for="cuota">cuota aceptada por la organización</label>
              <input type="number" id="cuota" class="form-control" placeholder="Ingrese la cuota aceptada" 
              aria-label="cuota" aria-describedby="basic-addon-h" [(ngModel)]="MontoAceptado.CuotaAceptadaOrganizacion" name="cuotaACeptada">
            </div>

            <div class="form-group" style="margin-bottom: 16px;">
              <label for="monto">Mesada Pensional</label>
              <input type="number" id="monto" class="form-control" placeholder="Ingrese la mesada pensional" 
              aria-label="mesada" aria-describedby="basic-addon-d" [(ngModel)]="MontoAceptado.ValorMesadaPension" name="mesadaPensional">
            </div>

            <button type="submit" class="btn btn-primary" (click)="save()" *ngIf="create">Guardar</button>
          </form>
        </div>

      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>