<nb-card>
  <nb-card-body>
    <toaster-container [toasterconfig]="config"></toaster-container>

    <div class="btn-group btn-group-sm" role="group" aria-label="btn action">
      <button (click)="goBack()" class="btn-sm btn btn-secondary">Volver</button>
      <button (click)="onCreate()" class="btn-sm btn btn-primary" *ngIf="create">Crear</button>
    </div>

    <nb-tabset fullWidth>
      <nb-tab
        tabTitle="Monto Aceptado {{ Organizacion ? (': ' + Organizacion.Nombre) : '' }} {{ Usuario ? (' - ' + Usuario.Nombres + ' ' + Usuario.Apellidos) : '' }}">
        <br />
        
        <table class="table table-striped table-hover">
          <thead class="thead-dark">
            <tr>
              <th>Id</th>
              <th>Acto Administrativo</th>
              <th>Cuota aceptada</th>
              <th>Fecha de pension</th>
              <th>Resolución de pensión</th>
              <th>Valor Mesada Pensión</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data">
              <td> {{ item.Id }} </td>
              <td> {{ item.TipoActoAdministrativo }} de {{ item.FechaActoAdministrativo | date }} </td>
              <td> {{ item.CuotaAceptadaOrganizacion }} </td>
              <td> {{ item.FechaPension | date }} </td>
              <td> {{ item.FechaResolucionPension | date }} </td>
              <td> {{ item.ValorMesadaPension }} </td>
              <td>
                <i class="nb-edit" style="font-size: 22px; cursor: pointer;" (click)="onEdit(item.Id)"
                  data-toggle="tooltip" data-placement="top" title="Editar" *ngIf="edit"></i>

                <i class="nb-close-circled" style="font-size: 22px; cursor: pointer;" (click)="onDelete(item.Id)"
                  data-toggle="tooltip" data-placement="top" title="Eliminar" *ngIf="delete"></i>

                <i class="nb-compose" style="font-size: 22px; cursor: pointer;" (click)="onRegistrarCobro(item.Id)"
                  data-toggle="tooltip" data-placement="top" title="Registrar cobro"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </nb-tab>
    </nb-tabset>

  </nb-card-body>
</nb-card>