<nb-card>
  <nb-card-body>
    
    <button (click)="goBack()" class="btn-sm btn btn-danger">Cancelar</button>

    <nb-tabset fullWidth>
      <nb-tab tabTitle="Formulario experiencia laboral">
    
        <div class="container col-lg-8 col-md-10 col-sm-12">
          <form name="form" style="padding-top: 16px">
            <div class="form-group">
              <label for="organizacion">Organización</label>
              <select style="margin-bottom: 16px;" id="organizacion" placeholder="Organización"
                class="form-control form-control-sm" [(ngModel)]="experienciaLaboral.EntidadId" name="organizacion">
                <option *ngFor="let item of organizaciones" [value]="item.Id"> {{ item.Nombre }}</option>
              </select>
            </div>

            <div class="form-group" style="margin-bottom: 16px;">
              <label for="fecha_ini">Fecha de Ingreso</label>
              <input type="date" id="fecha_ini" class="form-control" placeholder="Ingrese la fecha de ingreso"
                aria-label="horas" aria-describedby="basic-addon-h" [(ngModel)]="FechaRetiro" name="fecha_ini">
            </div>

            <div class="form-group" style="margin-bottom: 16px;">
              <label for="fecha_fin">Fecha de Retiro</label>
              <input type="date" id="fecha_fin" class="form-control" placeholder="Ingrese la fecha de retiro"
                aria-label="horas" aria-describedby="basic-addon-h" [(ngModel)]="FechaIngreso" name="fecha_fin">
            </div>

            <div class="form-group" style="margin-bottom: 16px;">
              <label for="horas">Horas diarias laboradas</label>
              <input type="number" id="horas" class="form-control" placeholder="Ingrese el número de horas"
                aria-label="horas" aria-describedby="basic-addon-h" [(ngModel)]="experienciaLaboral.HorasLaboradasDia" name="horas">
            </div>

            <div class="form-group" style="margin-bottom: 16px;">
              <label for="dias">Días laborados semanales</label>
              <input type="number" id="dias" class="form-control" placeholder="Ingrese el número de días"
                aria-label="horas" aria-describedby="basic-addon-d" [(ngModel)]="experienciaLaboral.DiasLaboradosSemana" name="diasxsemana">
            </div>

            <button type="submit" class="btn btn-primary"
              (click)="save()">Guardar</button>
          </form>
        </div>

      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>