<nb-card>
  <nb-card-body>
    <toaster-container [toasterconfig]="config"></toaster-container>

    <div class="btn-group btn-group-sm" role="group" aria-label="btn action">
      <button (click)="goBack()" class="btn-sm btn btn-secondary">Volver</button>
      <button (click)="onCreate()" class="btn-sm btn btn-primary" *ngIf="create">Crear</button>
    </div>

    <nb-tabset fullWidth>
      <nb-tab tabTitle="Experiencia laboral {{ user ? (': ' + user.PrimerNombre + ' ' + user.SegundoNombre + ' ' + user.PrimerApellido) : '' }}">
        <br />

        <table class="table table-striped table-hover">
          <thead class="thead-dark">
            <tr>
              <th>Id</th>
              <th>Organización</th>
              <th>Fecha de inicio</th>
              <th>Fecha de retiro</th>
              <th>Cargo</th>
              <th>Dedicación</th>
              <th>Vinculación</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data">
              <td> {{ item.Id }} </td>
              <td> {{ get_organizacion(item.Organizacion) ? get_organizacion(item.Organizacion).Nombre : ' - ' }} </td>
              <td> {{ item.FechaInicio | date }} </td>
              <td> {{ item.FechaFinalizacion ? (item.FechaFinalizacion | date) : ' - ' }} </td>
              <td> {{ get_cargo(item.Cargo.Id) ? get_cargo(item.Cargo.Id).Nombre : ' - ' }} </td>
              <td> {{ get_dedicacion(item.TipoDedicacion.Id) ? get_dedicacion(item.TipoDedicacion.Id).Nombre : ' - ' }} </td>
              <td> {{ get_vinculacion(item.TipoVinculacion.Id) ? get_vinculacion(item.TipoVinculacion.Id).Nombre : ' - ' }} </td>
              <td>
                <i class="nb-edit" style="font-size: 22px; cursor: pointer;" (click)="onEdit(item.Id)" *ngIf="edit"
                data-toggle="tooltip" data-placement="top" title="Editar"></i>

                <i class="nb-close-circled" style="font-size: 22px; cursor: pointer;" (click)="onDelete(item.Id)" *ngIf="delete"
                data-toggle="tooltip" data-placement="top" title="Eliminar"></i>

                <!--<i class="nb-person" style="font-size: 22px; cursor: pointer;" (click)="onIncapacidad(item.Id)" 
                data-toggle="tooltip" data-placement="top" title="Incapacidad"></i>-->

                <i class="nb-compose" style="font-size: 22px; cursor: pointer;" (click)="onCobro(item.Id)" 
                data-toggle="tooltip" data-placement="top" title="Monto a cobrar"></i>
              </td>
            </tr>
          </tbody>
        </table>

      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>