<div class="col-md-12 col-lg-12 col-xl-12">
    <nb-card>
        <nb-card-body>
            <toaster-container [toasterconfig]="config"></toaster-container>
            <nb-tabset fullWidth (changeTab)="selectTab($event)">
                <nb-tab tabTitle="{{ 'GLOBAL.lista' | translate }}" [active]="!cambiotab" style="overflow: hidden;">
                    <br />
                    <div class="container-fluid">
                        <div>
                            <div class="col">
                                <br />
                                <div class="row">
                                    <div class="col">
                                        <mat-form-field style="width: 70%;">
                                            <mat-label>{{ 'GLOBAL.programa_academico' | translate }} :</mat-label>
                                            <mat-select [(ngModel)]="selectedValuePrograma">
                                                <mat-option>--Seleccionar--</mat-option>
                                                <mat-option *ngFor="let item of posgrados" [value]="item">
                                                    {{item.Nombre}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col">
                                        <mat-form-field style="width: 35%;">
                                            <mat-label>{{ 'GLOBAL.periodo_academico' | translate }} :</mat-label>
                                            <mat-select [(ngModel)]="selectedValuePeriodo">
                                                <mat-option>--Seleccionar--</mat-option>
                                                <mat-option *ngFor="let item_periodo of periodo" [value]="item_periodo">
                                                    {{item_periodo.Nombre}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <br />
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button (click)="Filtrar()" class="btn btn-info btn-sm"><i class="nb-search"></i> {{ 'GLOBAL.filtrar' | translate }}</button>
                                </div>
                                <div class="col">
                                    <button (click)="ClearFiltro()" class="btn btn-info btn-sm">{{ 'GLOBAL.Limpiar' | translate }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <ng2-smart-table [settings]="settings" [source]="source" (delete)="onVerInfo($event)" (rowSelect)="itemselec($event)" (edit)="onEdit($event)" (create)="onCreate($event)">
                    </ng2-smart-table>
                </nb-tab>
                <nb-tab tabTitle="{{ 'GLOBAL.formulario' | translate }}" [active]="cambiotab">
                    <ngx-crud-admision [admision_id]="uid" (eventChange)="onChange($event)"></ngx-crud-admision>
                    <button (click)="activetab()" class="btn btn-info btn-sm"> <i class="nb-arrow-dropleft"></i> {{ 'GLOBAL.regresar' | translate }}</button>
                </nb-tab>
            </nb-tabset>
        </nb-card-body>
    </nb-card>
</div>